/* You can add global styles to this file, and also import other style files */
thead{
    background: #7d7d7d;
    background: linear-gradient(to right, #7d7d7d, #7d7d7d);
  }
  tr:hover .cell{
    color: #7d7d7d;
  }
